
#edit-patterns-search .control-group {
	float: left;
	margin-right: 5px;
}

#edit-patterns-search #edit-actions {
	display: inline;
}

table {
	width: 100%;
	text-align: center;
}

#edit-patterns-comment #edit-actions {
	display: block;
}

#all_patterns_div {
	margin-bottom: 30px;
}

.hero-unit {
	padding: 20px;
}

.table th, .table td {
	text-align: center;
}

.liked-link {
	margin-left: 25%;
}

.liked-link-t {
	margin-left: 25%;
}

#d2d-server-search .control-group{
	float: left;
	margin-right: 5px;
}

#d2d-server-search #edit-actions {
	display: inline;
}


#patterns-server-search .control-group{
	float: left;
	margin-right: 5px;
}

#patterns-server-search #edit-actions {
	display: inline;
}

#patterns-server-page-pattern-field ul, ol {
	    margin: 0 0 10px 25px;
		    padding: 0;
}

.download-link {
	background: url("../img/download.png") no-repeat scroll 50% 50% transparent;
	display: block;
	height: 20px;
	text-indent: -9999px;
	width: auto;
}

.voting-link {
  background: url("../img/like_white.png") no-repeat scroll 50% 50% transparent;
  display: block;
  height: 25px;
  text-indent: -9999px;
  width: auto;
}

.undovote-link {
  background: url("../img/like_black.png") no-repeat scroll 50% 50% transparent;
  display: block;
  height: 25px;
  text-indent: -9999px;
  width: auto;
}

.vote-forbid-sign{
  background: url("../img/forbidden_vote.png") no-repeat scroll 50% 50% transparent;
  display: block;
  height: 22px;
  text-indent: -9999px;
  width: auto;
}

